<header>
  <h1>
    <a href="{{ "/" | relLangURL }}">
      {{ with site.Params.dress.logo }}
        {{ with .src }}
          {{ $logo := site.Params.dress.logo }}
          <img src="{{ . | relURL }}" alt="{{ $logo.alt | default "" }}"{{ with $logo.width }} width="{{ . }}"{{ end }}{{ with $logo.height }} height="{{ . }}"{{ end }}>
        {{ end }}
      {{ end }}
      {{ site.Title }}
    </a>
  </h1>
  {{ with site.Menus.main }}
    <nav aria-label="Main">
      <ul>
        {{ range . }}
          <li>
            <a href="{{ .URL | relLangURL }}"{{ if $.IsMenuCurrent "main" . }} aria-current="page"{{ end }}>{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
</header>
